.recipe-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-modal {
  display: flex;
  max-width: 1000px;
  width: 90%;
  height: 90%;
  flex-direction: column;
  background-color: beige;
  overflow-y: auto;
  gap: 30px;
  padding: 45px;
  border-radius: 5px;
}

.recipe-modal__close {
  display: flex;
  flex-direction: row-reverse;
}

.recipe-modal__video {
  display: flex;
  justify-content: center;
}
/*
embedded video
*/
.recipe-modal__video video {
  border-radius: var(--border-radius);
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #000;
}
