#nav-container {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#form-container {
  padding: 20px 0;
}

#form-container form {
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
}

#form-container input {
  padding: 5px 0;
}

#form-container input {
  padding: 5px 0;
}
