* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-radius: 5px;
  --test-border: 2px #000 solid;

  --aside-colour: #2d882d;
  --aside-max-width: 260px;
  --aside-font-colour: #fff;
  --dropdown-tag-colour: #116611;
  --dropdown-tag-colour-hover: #54aa54;

  --main-colour: #faedbf;

  --card-colour: #ffe89d;
  --modal-colour: #faedbf;
}

body {
  height: 100vh;
  overflow: hidden;
}
#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  height: 100%;
}

aside {
  height: 100%;

  padding: 10px 10px;
  overflow-y: auto;
  background-color: var(--aside-colour);
  color: var(--aside-font-colour);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  height: 100%;
  width: 90%;
  overflow-y: auto;
  padding: 10px 100px;
  background-color: var(--main-colour);
  justify-content: center;
}

.card-container {
  display: flex;

  flex-direction: row;
}
